huggingface_hub==0.34.4
langchain==0.3.27
langchain_community==0.3.29
langchain_huggingface==0.3.1
pinecone==7.3.0
python-dotenv==1.1.1
streamlit==1.49.1
streamlit_nested_layout==0.1.4

# Embeddings stack (CPU only)
torch==2.8.0
transformers==4.56.0
sentence-transformers==5.1.0
tokenizers==0.22.0
